.btn.iconBtn {
  background: none;
  color: var(--color);
  padding: 0.25em;
  display: flex;
  align-items: center;
}

.iconBtn:hover,
.iconBtn:focus-visible {
  --color: hsl(var(--hue), 100%, 74%);
}

.iconBtnActive,
.iconBtn.danger {
  --hue: 0;
}

.iconBtnActive {
  position: relative;
}

/* Overlay "X" icon when button is active */
.iconBtnActive::before {
  content: "\00D7";
  position: absolute;
  font-size: 0.75em;
  width: 1em;
  height: 1em;
  color: var(--text);
  background-color: var(--color);
  border-radius: 50%;
  bottom: 0.1em;
  right: 0.1em;
}
