*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --error: hsl(0, 100%, 67%);
  --primary: hsl(235, 100%, 60%);
  --primary_focus: hsl(235, 100%, 67%);
  --secondary: hsl(235, 50%, 74%);
  --secondary_focus: hsl(235, 100%, 90%);
  --tertiary: hsl(235, 50%, 67%);
  --base: #222;
  --text: #eee;
}

body {
  margin: 0;
  line-height: 1.4;
  background-color: var(--base);
  color: var(--text);
}

a {
  color: var(--text);
}

a:hover,
a:focus {
  color: var(--secondary);
}

a:active {
  color: var(--secondary_focus);
}

button {
  font-size: inherit;
  font-family: inherit;
}

.btn {
  --hue: 235;
  --color: hsl(var(--hue), 100%, 67%);
  padding: 0.5em 1em;
  background: var(--color);
  border: none;
  color: white;
  border-radius: 0.5em;
  font-size: 0.75em;
  cursor: pointer;
}

.btn[disabled] {
  --color: hsl(var(--hue), 20%, 74%);
  cursor: default;
}

.btn:hover,
.btn:focus-visible {
  --color: hsl(var(--hue), 100%, 74%);
}

.container {
  max-width: 1200px;
  width: calc(100vw - 4rem);
  margin: 2rem auto;
}

.error-msg {
  color: var(--error);
}

.mt-4 {
  margin-top: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-1 {
  margin-right: 0.25em;
}

.ml-6 {
  margin-left: 1.5rem;
}

.hide {
  display: none;
}
