.commentFormRow {
  display: flex;
  gap: 0.5rem;
}

.postBtn {
  max-height: 70px;
}

.messageInput {
  flex-grow: 1;
  resize: vertical;
  min-height: 70px;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: inherit;
  font-family: inherit;
  border: none;
  line-height: 1.4;
  background-color: #0006;
  color: var(--text);
}

.messageInput:focus {
  outline: 1px solid var(--primary_focus);
}

/* remove corner indicating resizable text area. No firefox equivalent */
.messageInput::-webkit-resizer {
  display: none;
}
